html,
button,
input,
textarea,
select {
  font-family: $ff--base;
  line-height: $lh--base;
  font-size: $fz--base;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  border: 1px solid $c--black;
  padding: 0.5em;
}

label {
  display: block;
}

.item-header {
  font-size: $fz--lg;
  font-weight: $fw--bold;
}

.section-header {
  font-size: $fz--xl;
  font-weight: $fw--bold;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

.button {
  @include transition(background-color);
  @include button-shadow;
  background-color: $c--primary;
  padding: 0.6em 0.8em;
  font-weight: $fw--bold;
  color: $c--white;
  transition: background-color time;

  &:hover {
    background-color: darken($c--primary, 6%);
  }

  &--red-team {
    @include button-shadow($color: $c--red);
    background-color: $c--red;

    &:hover {
      background-color: darken($c--red, 6%);
    }
  }

  &--blue-team {
    @include button-shadow($color: $c--blue);
    background-color: $c--blue;

    &:hover {
      background-color: darken($c--blue, 6%);
    }
  }
}

.button--secondary {
  display: inline-block;
  background-color: $c--gray-e;
  padding: 0.5em;
}

// Headers
// -----------

h2 {
  font-size: 2rem;
  font-weight: $fw--bold;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.5rem;
  font-weight: $fw--bold;
  box-shadow: inset 0 -0.25em 0 rgba($c--primary, 0.5);
  margin-bottom: 1em;
}
