// Color
// -----------

$c--white: #ffffff;
$c--gray-f: #f2f7f7;
$c--gray-e: #e2e7e7;
$c--gray-c: #c5cbcb;
$c--gray-a: #aaa;
$c--gray-3: #333333;
$c--black: #000000;
$c--orange: #ff911f;
$c--red: #d13030;
$c--blue: #4183cc;

$c--primary: $c--orange;

// Type
// -----------

// Family
$ff--base: 'Roboto', Helvetica, Arial, sans-serif;

// Line height
$lh--base: 1.4;

// Font sizes
$fz--sm: 0.8em;
$fz--base: 16px;
$fz--lg: 1.2rem;
$fz--xl: 2.5rem;

// Font weight
$fw--bold: 500;
$fw--light: 100;

// Spacing
// -----------

$spacing: 1.6rem;

// Breakpoints
// -----------

$bp--small: 520px;
$bp--tablet: 600px;
$bp--desktop: 900px;

// Misc
// -----------

$border-radius: 6px;
