@mixin button-shadow($depth: 8, $color: $c--orange) {
  // $shadow: "1px 1px 0 rgba(darken($c--orange, 45%), 0.4)";
  $shadow: ();
  @for $i from 1 to $depth {
    $shadow: append($shadow, #{$i}px #{$i}px 0 darken($color, 20%), comma);
  }

  background-color: $color;
  box-shadow: $shadow;
  margin-bottom: #{$depth}px;

  &:focus {
    outline: 1px solid black;
  }

  &:active {
    $activeShadow: ();

    @for $i from 1 to $depth - 2 {
      $activeShadow: append($activeShadow, #{$i}px #{$i}px 0 darken($color, 26%), comma);
    }

    position: relative;
    box-shadow: $activeShadow;
    top: 2px;
    left: 2px;
  }
}
